@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:700,800&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400');
@keyframes modalContentFadeIn {
  0% {
    opacity:0;

    right: -300px
  }
  100% {
    opacity:1;

    right: 0px

  }
}

      #button {position: fixed;
      border: 0px;
      background-color: transparent;
      width: px;
      height: px;
      top: px;
      bottom: 20px;
      left: 10px;
      right: 0;}
      #button2 {position: fixed;
      border: 0px;
      background-color: transparent;
      width: px;
      height: px;
      top: 100px;
      right: 10px;}
      #cat {position: fixed;
      border: 0px;
      background-color: #ac2a34;
      width: ;
      height: ;
      top: 0px;
      left: 0;
      right: 0;}
      #기역기역 {position: fixed;
      border: 0px;
      background-color: transparent;
      bottom: 30px;
      right: 40px;}
      #myBtn {position: fixed;
        z-index: 0;
      border: 0px;
      background-color: transparent;
      bottom: 30px;
      right: 40px;
    }
    #myBtn:hover {opacity: 0;}
    #myBtn:active, #myBtn:checked {opacity:0;
                  }

      #계정1, #계정2 {color: #ac2a34;}
      #계정1:hover, #계정2:hover {text-decoration: underline;}






  #home {color:black;
        text-decoration:none;
        display:inline-block;
        margin-top: 130px;
        margin-bottom: 130px
        }

        #button {position: fixed;
        border: 0px;
        background-color: transparent;
        width: px;
        height: px;
        top: 100px;
        left: 10px;
        right: 0;}

        #button2 {position: fixed;
        border: 0px;
        background-color: transparent;
        width: px;
        height: px;
        top: 100px;
        right: 10px;}



  #video1 {display:block;
          margin: auto;
          margin-top:100px;
        }
  #video2 {display:block;
                margin:auto;
        }
  #video3 {display:block;
                      margin:auto;
        }

        #기역기역 {position: fixed;
        border: 0px;
        background-color: transparent;
        width: 100px;
        height: px;
        bottom: 30px;
        right: 40px;}
@font-face { font-family: 'Nanum Myeongjo', serif; }
    h1 {border:0px dotted #7FFF00;
    padding:5px;
    margin:auto;
    margin-bottom:30px;
    display:block;
    width:75%;
    font-size:50px;
    word-break:break-all;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    line-height:70px;}

    a {color:#ac2a34;

      text-decoration:none;
      cursor:url(halfg.cur),auto;}

    h2 {
      font-family: 'Nanum Myeongjo', serif;
      display:block;
      text-align:center;
      font-size:70px;
      line-height:80px}


    body {background-image: url();background-size:75%;

        background-color: #ac2a34;cursor:url(fullg.cur),auto;}

    h3 {font-family: 'Nanum Myeongjo', serif;

    text-align: center;
    font-size:35px;

      }



      h1 {
        width:80px;
        margin-bottom:45px;
        font-weight: 700;
        }

    }
    a:hover {color: transparent;}

    .카 {color:black;}
    .카:hover {opacity:0;}

    h5 {font-family: 'Nanum Myeongjo', serif;
        text-align:center;}


        .modal {
          display: none; /* Hidden by default */
           /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          right: 10px;
          width: 50%; /* Full width */
          height: 50%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: transparent; /* Fallback color */

        }

        /* Modal Content */
        .modal-content {/*font-family: 'Nanum Myeongjo', serif;

        font-size: 40px;
        line-height:60px;
        color: white;
        overflow: scroll;*/
        z-index: 3;
        background-color: #efebe8;
        width: 280px;
        height: 440px;

        position: fixed;
        top: 33.3%;
        bottom: ;
        padding-left: 30px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
        animation: modalContentFadeIn .5s 0s linear forwards;
        }
        .content{
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        word-break: keep-all;
        font-size: 15px;
        line-height:25px;
        color: black;
        z-index: 3;
        width: 250px;
        height: 400px;
        overflow: auto;
        position: center;

        animation: modalContentFadeIn .5s 0s linear forwards;
        }

        .content2
        {  font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height:25px;
        color: black;}
        /* The Close Button */
        .close {

        color: #ac2a34;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }

        .close:hover,
        .close:focus {
        color: #ac2a34;
        text-decoration: none;
        cursor: pointer;
        }

  @media (min-width:0px) and (max-width:600px)
        {
          .poster {width: 200px;}
          .wrap{width:100%;
            overflow-x:scroll;
            white-space:nowrap;
            display: block;
            margin-top: 100px;}


            #cat {position: fixed;
            border: 0px;
            background-color: #ac2a34;

            top: 0px;
            left: 0;
            right: 0;
            
            }

            h3 {font-family: 'Nanum Myeongjo', serif;
            text-align: center;
            font-size:25px;}


            h1 {
              font-size: 20px;
              line-height: 30px;
              margin-bottom:20px;
              }

                #homebanner
                {display: block;
                margin: auto;
                margin-top: 100px;
                margin-bottom: 65px;}


            #myBtn {position: fixed;
              width: 15%;
              z-index: 0;
            border: 0px;
            background-color: transparent;
            bottom: 20px;
            right: 20px;
          }

          .modal {
            display: none; /* Hidden by default */
             /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 20px; /* Location of the box */
            left: 0;
            top: 0;
            right: 10px;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: transparent; /* Fallback color */

          }

        /* Modal Content */
        .modal-content {/*font-family: 'Nanum Myeongjo', serif;

        font-size: 40px;
        line-height:60px;
        color: white;
        overflow: scroll;*/
        z-index: 3;
        background-color: #efebe8;
        width: 200px;
        height: 400px;

        position: fixed;
        top: 15%;
        bottom: ;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        animation: modalContentFadeIn .5s 0s linear forwards;
        }
        .content{
        font-family: 'Noto Sans KR', sans-serif;

          font-size: 13px;
          line-height:23px;
          color: black;
          z-index: 3;
          width: 190px;
          height: 350px;
          overflow: scroll;
          position: left;

          animation: modalContentFadeIn .5s 0s linear forwards;
        }

        .content2
        {  font-family: 'Noto Sans KR', sans-serif;

          font-size: 13px;
          line-height:23px;
          color: black;}




        .gif{display: block;
        margin: auto;
        margin-top: 100px;
        line-height: 28px;}

        img.homebutton
        {width: 70px;}

        #video1 {display:block;
                margin: auto;
                width: 98%;
                height: auto;
                margin-top:100px;
              }
        #video2 {display:block;
                      margin:auto;width: 98%;
                      height: auto;
              }
        #video3 {display:block;
                            margin:auto;width: 98%;
                            height: auto;
              }
  }
