@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:700,800&subset=korean');
@keyframes modalContentFadeIn {
  0% {
    opacity:0;

    right: -300px
  }
  100% {
    opacity:1;

    right: 0px

  }
}


      #home {color:black;
      text-decoration:none;}
      #button {position: fixed;
      border: 0px;
      background-color: transparent;
      width: px;
      height: px;
      top: px;
      bottom: 20px;
      left: 10px;
      right: 0;}
      #button2 {position: fixed;
      border: 0px;
      background-color: transparent;
      width: px;
      height: px;
      top: 100px;
      right: 10px;}
      #cat {position: fixed;
      border: 0px;
      background-color: #efebe8;
      width: ;
      height: ;
      top: 0px;
      left: 0;
      right: 0;}
      #기역기역 {position: fixed;
      border: 0px;
      background-color: transparent;
      bottom: 30px;
      right: 40px;}
      #myBtn {position: fixed;
        z-index: 0;
      border: 0px;
      background-color: transparent;
      bottom: 30px;
      right: 40px;
    }


      #계정1, #계정2 {color: white;}
      #계정1:hover, #계정2:hover {text-decoration: underline;}

      #homebanner
      {display: block;
      margin: auto;
      margin-top: 100px;
      margin-bottom: 80px;}




@font-face { font-family: 'Nanum Myeongjo', serif; }

  body {background-color: #efebe8;cursor:url(fullr.cur),auto;}
  a {text-decoration:none;
  cursor:url(halfr.cur),auto;}
  h1 {padding:5px;
  display:block;
  width:70%;
  text-align: left;
  margin:auto;
  margin-top: 100px;
  margin-bottom:100px;
  font-size:45px;
  word-break:break-all;
  font-family: 'Nanum Myeongjo', serif;
  line-height:70px;}
  h2 {font-family: 'Nanum Myeongjo', serif;
  display:block;
  text-align:center;
  font-size:70px;
  line-height:80px}
  h3 {font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  font-size:35px;}
  h4 {font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  font-size:20px;
  line-height: 35px;
  bottom: 5px;
  }

#격:hover {color:#b0232b;}
#격 {color:transparent;text-decoration-color:#b0232b;text-decoration-line: underline;}
#궁:hover {color:#b0232b;}
#궁 {color:transparent;text-decoration-color:#b0232b;text-decoration-line: underline;}
#재:hover {color:#b0232b;}
#재 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}
#나:hover {color:#b0232b;}
#나 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}
#실:hover {color:#b0232b;}
#실 {color:transparent;text-decoration-color:#b0232b;text-decoration-line: underline;}
#하:hover {color:#b0232b;}
#하 {color:transparent;text-decoration-color: #b0232b;text-decoration-line: underline;}
#애:hover {color:#b0232b;}
#애 {color:transparent;text-decoration-color:#b0232b;text-decoration-line: underline;}
#각주1 {color:#6e8472;}
#각주1:hover, #각주1:active {text-decoration: underline;}
#지:hover {color:#b0232b;}
#지 {color:transparent;text-decoration-color:#b0232b;text-decoration-line: underline;}
#혼:hover {color:#b0232b;}
#혼 {color:transparent;text-decoration-color:#b0232b;text-decoration-line: underline;}
#각주2 {color:#6e8472;}
#각주2:hover, #각주2:active {text-decoration: underline;}
#셀:hover {color:#b0232b;}
#셀 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}
#각주3 {color:#6e8472;}
#각주3:hover, #각주3:active {text-decoration: underline;}
#따:hover {color:#b0232b;}
#따 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}
#단:hover {color:#b0232b;}
#단 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}
#시:hover {color:#b0232b;}
#시 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}
#기:hover {color:#b0232b;}
#기 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}
#보:hover {color:#b0232b;;}
#보 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}
#모:hover {color:#b0232b;}
#모 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}
#그:hover {color:#b0232b;}
#그 {color:transparent;text-decoration-line: underline;text-decoration-color:#b0232b;}

#권혁규
{padding:5px;
display:block;
width:90%;
text-align: center;
margin:auto;
margin-top: 100px;
margin-bottom:30px;
font-size:45px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:70px;}
.권혁규0 {
  margin-top: 0px;
  padding:5px;
display:block;
width:70%;
text-align: center;
margin: auto;
margin-bottom:0px;
font-size:45px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:70px;}
#김아정
{padding:5px;
display:block;
width:70%;
text-align: center;
margin:auto;
margin-top: 100px;
margin-bottom:30px;
font-size:45px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:70px;}
#박도현
{padding:5px;
display:block;
width:70%;
text-align: center;
margin:auto;
margin-top: 100px;
margin-bottom:30px;
font-size:45px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:70px;}
#이사은
{padding:5px;
display:block;
width:70%;
text-align: center;
margin:auto;
margin-top: 70px;
margin-bottom:0px;
font-size:45px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:70px;}
#백윤주
{padding:5px;
display:block;
width:70%;
text-align: center;
margin:auto;
margin-top: 100px;
margin-bottom:30px;
font-size:45px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:70px;}


.카 {color:black;}
.카:hover {opacity:0;}


.modal {
  display: none; /* Hidden by default */
   /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  right: 10px;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent; /* Fallback color */

}

/* Modal Content */
.modal-content {/*font-family: 'Nanum Myeongjo', serif;

font-size: 40px;
line-height:60px;
color: white;
overflow: scroll;*/
z-index: 3;
background-color: #b11928;
width: 280px;
height: 440px;

position: fixed;
top: 33.3%;
bottom: ;
padding-left: 30px;
padding-right: 10px;
padding-top: 30px;
padding-bottom: 0px;
animation: modalContentFadeIn .5s 0s linear forwards;
}
.content{
font-family: 'Noto Sans KR', sans-serif;

font-size: 15px;
line-height:25px;
color: white;
z-index: 3;
width: 250px;
height: 400px;
overflow: auto;
position: center;

animation: modalContentFadeIn .5s 0s linear forwards;
}

.content2
{  font-family: 'Noto Sans KR', sans-serif;

font-size: 15px;
line-height:25px;
color: white;}
/* The Close Button */
.close {

color: #eeece9;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}


@media (min-width:0px) and (max-width:500px)
{
  .poster {width: 200px;}
  .wrap{width:100%;
    overflow-x:scroll;
    white-space:nowrap;
    display: block;
    margin-top: 100px;}


    #cat {position: fixed;
    border: 0px;
    background-color: #efebe8;
    width: ;
    height: ;
    top: 0px;
    left: 0;
    right: 0;
    padding: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    }

    h3 {font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-size:19px;}


    h1 {padding:5px;
    display:block;
    width:90%;
    text-align: left;
    margin:auto;
    margin-top: 50px;
    margin-bottom:0px;
    font-size:28px;
    word-break:break-all;
    font-family: 'Nanum Myeongjo', serif;
    line-height:47px;}

    h2 {font-family: 'Nanum Myeongjo', serif;
    display:block;
    text-align:center;
    font-size:20px;
    line-height: 30px;
    }

    #myBtn {position: fixed;
      width: 15%;
      z-index: 0;
    border: 0px;
    background-color: transparent;
    bottom: 20px;
    right: 20px;
  }

  .modal {
    display: none; /* Hidden by default */
     /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    right: 10px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent; /* Fallback color */

  }

/* Modal Content */
.modal-content {/*font-family: 'Nanum Myeongjo', serif;

font-size: 40px;
line-height:60px;
color: white;
overflow: scroll;*/
z-index: 3;
background-color: #b11928;
width: 200px;
height: 400px;

position: fixed;
top: 30%;
bottom: ;
padding-left: 10px;
padding-right: 10px;
padding-top: 0px;
padding-bottom: 0px;
animation: modalContentFadeIn .5s 0s linear forwards;
}
.content{
font-family: 'Noto Sans KR', sans-serif;

  font-size: 13px;
  line-height:23px;
  color: white;
  z-index: 3;
  width: 190px;
  height: 350px;
  overflow: scroll;
  position: left;

  animation: modalContentFadeIn .5s 0s linear forwards;
}

.content2
{  font-family: 'Noto Sans KR', sans-serif;

  font-size: 13px;
  line-height:23px;
  color: white;}



img.homebutton
{width: 50px;}

#권혁규
{padding:5px;
display:block;
width:90%;
text-align: center;
margin:auto;
margin-top: 40px;
margin-bottom:30px;
font-size:28px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:47px;}
.권혁규0 {
  margin-top: 0px;
  padding:5px;
display:block;
width:90%;
text-align: center;
margin: auto;
margin-bottom:0px;
font-size:28px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:47px;}
#김아정
{padding:5px;
display:block;
width:90%;
text-align: left;
margin:auto;
margin-top: 50px;
margin-bottom:30px;
font-size:28px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:47px;}
#박도현
{padding:5px;
display:block;
width:90%;
text-align: left;
margin:auto;
margin-top: 50px;
margin-bottom:30px;
font-size:28px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:47px;}
#이사은
{padding:5px;
display:block;
width:90%;
text-align: center;
margin:auto;
margin-top: 50px;
margin-bottom:30px;
font-size:28px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:47px;}
#백윤주
{padding:5px;
display:block;
width:90%;
text-align: center;
margin:auto;
margin-top: 50px;
margin-bottom:0px;
font-size:28px;
word-break:break-all;
font-family: 'Nanum Myeongjo', serif;
line-height:47px;}

h4 {font-family: 'Nanum Myeongjo', serif;
text-align: center;
font-size:10px;
line-height: 20px;
bottom: 5px;}




}
