@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:700,800&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400');
@keyframes modalContentFadeIn {
  0% {
    opacity:0;

    right: -300px
  }
  100% {
    opacity:1;

    right: 0px

  }
}
      #home {color:black;
      text-decoration:none;}
      #button {position: fixed;
      border: 0px;
      background-color: transparent;
      width: px;
      height: px;
      top: 100px;
      left: 10px;
      right: 0;}
      #button2 {position: fixed;
      border: 0px;
      background-color: transparent;
      width: px;
      height: px;
      top: 100px;
      right: 10px;}
      #cat {position: fixed;
      border: 0px;
      background-color: #eeece9;
      width: ;
      height: ;
      top: 0px;
      left: 0;
      right: 0;}
      #기역기역 {position: fixed;
      border: 0px;
      background-color: transparent;
      bottom: 30px;
      right: 40px;}
      #myBtn {position: fixed;
        z-index: 0;
      border: 0px;
      background-color: transparent;
      bottom: 30px;
      right: 40px;
    }  #myBtn:hover {opacity: 0;}
      #myBtn:active, #myBtn:checked {opacity:0;
                    }


      #계정1, #계정2 {color: white;}
      #계정1:hover, #계정2:hover {text-decoration: underline;}

      #homebanner
      {display: block;
      margin: auto;
      margin-top: 100px;
      margin-bottom: 80px;}



@font-face { font-family: 'Nanum Myeongjo', serif; }

body {background-color: #eeece9;
  cursor:url(fullr.cur),auto;}

  h1 {color:#;
    padding:5px;
  display:block;
  width:55%;
  text-align: left;
  margin-left: 35%;
  margin-top: 300px;
  margin-bottom:-10px;
  font-size:45px;
  word-break:break-all;
  font-family: 'Nanum Myeongjo', serif;
  line-height:70px;
  font-weight: 700;
}

  h2 {font-family: 'Nanum Myeongjo', serif;
  display:block;
  text-align:center;
  font-size:70px;
  line-height:80px}
  h3 {font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  font-size:35px;}
  h4 {font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  font-size:20px;
  line-height: 35px;}
  a {text-decoration:none; color:black;
  cursor:url(halfr.cur),auto;}
  a:hover{color:#b11928}


.paragraph {}
.redpage { position:absolute; top:70px;z-index:-2;margin-left:-5%;}


.카 {color:black;}
.카:hover {opacity:0;}

.modal {
  display: none; /* Hidden by default */
   /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  right: 10px;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent; /* Fallback color */

}

/* Modal Content */
.modal-content {/*font-family: 'Nanum Myeongjo', serif;

font-size: 40px;
line-height:60px;
color: white;
overflow: scroll;*/
z-index: 3;
background-color: #b11928;
width: 280px;
height: 440px;

position: fixed;
top: 33.3%;
bottom: ;
padding-left: 30px;
padding-right: 10px;
padding-top: 30px;
padding-bottom: 0px;
animation: modalContentFadeIn .5s 0s linear forwards;
}
.content{
font-family: 'Noto Sans KR', sans-serif;
font-weight: 300;
word-break: keep-all;
font-size: 15px;
line-height:25px;
color: white;
z-index: 3;
width: 250px;
height: 400px;
overflow: auto;
position: center;

animation: modalContentFadeIn .5s 0s linear forwards;
}

.content2
{  font-family: 'Noto Sans KR', sans-serif;
font-weight: 300;
font-size: 15px;
line-height:25px;
color: white;}


/* The Close Button */
.close {

color: #eeece9;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}



@media (min-width:0px) and (max-width:600px)
{

  img.homebutton
  {width: 70px;}

h1 {
  font-size:17px;
  margin-top:100px;
  margin-bottom:25px;
  margin-left: 37%;
  line-height:30px;
  font-weight: 700;
  }
.redpage {width:95%;display: block;margin-top:-100px; margin-left:-15%;
opacity:1}
.paragraph {;

}
h3 {font-family: 'Nanum Myeongjo', serif;
text-align: center;
font-size:25px;}

#cat {position: fixed;
border: 0px;
background-color: #efebe8;
width: ;
height: ;
top: 0px;
left: 0;
right: 0;

}

#myBtn {position: fixed;
  width: 15%;
  z-index: 0;
border: 0px;
background-color: transparent;
bottom: 20px;
right: 20px;
}

.modal {
  display: none; /* Hidden by default */
   /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  right: 10px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent; /* Fallback color */

}

/* Modal Content */
.modal-content {/*font-family: 'Nanum Myeongjo', serif;

font-size: 40px;
line-height:60px;
color: white;
overflow: scroll;*/
z-index: 3;
background-color: #b11928;
width: 200px;
height: 400px;

position: fixed;
top: 15%;
bottom: ;
padding-left: 10px;
padding-right: 10px;
padding-top: 0px;
padding-bottom: 0px;
animation: modalContentFadeIn .5s 0s linear forwards;
}
.content{
font-family: 'Noto Sans KR', sans-serif;

font-size: 13px;
line-height:23px;
color: white;
z-index: 3;
width: 190px;
height: 350px;
overflow: scroll;
position: left;

animation: modalContentFadeIn .5s 0s linear forwards;
}

.content2
{  font-family: 'Noto Sans KR', sans-serif;

font-size: 13px;
line-height:23px;
color: white;}


}
